@model IEnumerable<UMovies.Web.Models.MovieViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@foreach (var movie in Model)
{
    <a href="javascript:playMovie('@movie.FilePath')">@movie.Name</a><br />
}