@{
    ViewBag.Title = "Player";
}

<h2>Player</h2>

<input type="button" value="Play/Pause" onclick="playPause()" id="playPause" />
<input type="button" value="Skip back" onclick="skipBack()" />
<input type="button" value="Skip forward" onclick="skipForward()" />
<input type="button" value="Play from the beginning" onclick="playFromBeginning()" />
<input type="button" value="Close Player" onclick="closePlayer()" />

@section scripts
{
    document.getElementById("playPause").focus();

    function playPause() {
    hub.server.playPause();
    }

    function skipBack() {
    hub.server.skipBack();
    }

    function skipForward() {
    hub.server.skipForward();
    }

    function playFromBeginning() {
    hub.server.playFromBeginning();
    }

    function closePlayer() {
    hub.server.closePlayer();
    }
}