@{
    ViewBag.Title = "Player";
}

<h2>Player</h2>

<div>
    <input type="button" value="Play/Pause" onclick="playPause()" id="playPause" class="btn btn-success" />
    <input type="button" value="Skip back" onclick="skipBack()" class="btn btn btn-primary" />
    <input type="button" value="Skip forward" onclick="skipForward()" class="btn btn-primary" />
    <input type="button" value="Play from the beginning" onclick="playFromBeginning()" class="btn btn-primary" />
    <input type="button" value="Close Player" onclick="closePlayer()" class="btn btn-danger" />
</div>

<br />
<br />

@section scripts
{
    document.getElementById("playPause").focus();

    function playPause() {
    hub.server.playPause();
    }

    function skipBack() {
    hub.server.skipBack();
    }

    function skipForward() {
    hub.server.skipForward();
    }

    function playFromBeginning() {
    hub.server.playFromBeginning();
    }

    function closePlayer() {
    hub.server.closePlayer();
    }
}