@model UMovies.Web.Models.MovieViewModel

@{
    ViewBag.Title = "Show";
}

<h2>@Model.Name (@Model.Year)</h2>

<input type="button" value="Play Movie" onclick="javascript:playMovie('@Model.MovieFilePath')" />

<br />
<br />

<table class="table">
    <tr>
        <td>
            <picture>
                <source src="~/Pictures/@Model.ThumbnailFilePath" />
                <img src="~/Pictures/@Model.ThumbnailFilePath" />
            </picture>
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Sinopsis)
        </td>
    </tr>
</table>