<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="VideoPlayerPath" value="C:\Program Files\MPC-HC\mpc-hc64.exe"/>
    <add key="VideoRootFolder" value="C:\movies"/>
    <add key="RelayUrl" value="http://localhost:64875"/>
    <add key="Heartbeat" value="8000"/>
  </appSettings>
</configuration>