<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="UMovies" connectionString="Data Source=localhost;Initial Catalog=UMovies;Integrated Security=True" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="SignalrUrl" value="http://localhost:64875/signalr" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PicturesUrl" value="http://localhost:1010" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>